In [8]:
myList = [[1,45,53],[45,90,10],[100,80,85],[100,15,20]]

In [12]:
import pandas

In [13]:
pandas.DataFrame(myList)

     0   1   2
0    1  45  53
1   45  90  10
2  100  80  85
3  100  15  20

In [15]:

item = int(input("Enter a number: "))
rIndex = 1
cIndex = 1

found = "false"
while True:
    for i in range(4):
        for j in range (3):
            if found =="false":
                if myList[i][j] == item:
                    found = "true"
                else:
                    found = "false"
                if found == "true":
                    print(item,"was found in row", i ,"and column ", j+1)
    break
if found == "false":
    print("Item not found")

Enter a number: 1
1 was found in row 0 and column  1